<div ng-controller="SearchItemDetailCtrl">

    <p>Detail de l'objet issu de la recherche.</p>
    <table>
        <tr>
        	<img class="picture-normal"  alt={{a.name}}
					src={{data.item.itemPictures[1].path}} ng-click="startDeal()">
			<img class="picture-normal"  alt={{a.name}}
					src={{data.item.itemPictures[2].path}} ng-click="startDeal()">
			<img class="picture-normal"  alt={{a.name}}
					src={{data.item.itemPictures[3].path}} ng-click="startDeal()">				
            <td><label>Nom :</label> {{data.item.name}}</td>
            <td><label>Date de creation :</label> {{data.item.dateCreation}}</td>
            <td><label>Date de modification :</label> {{data.item.dateModification}}</td>
        </tr>

    </table>
   
   <button type="submit" class="btn btn-default"
				ng-click="startDeal()">Proposer un Swap !</button>
   
</div>
