<div ng-controller="ItemListCtrl">

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="#!/dashboard">Tableau de bord</a></li>
          <li><a href="#!/followswap">Suivre un echange</a></li>
          <li><a href="#!/swaps">Swaps</a></li>
          <li class="active"><a href="#!/items">Mes objets<span class="sr-only">(current)</span></a></li>
          <li><a href="#!/profile-self">Profil</a></li>
          <li><a href="#!/account">Compte</a></li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>

    <div class="row">
        <!-- /.col-lg-6 -->
        <div class="col-lg-6">
            <div class="input-group">
                <input type="text" ng-model="data.search" name="rechercheItems" class="form-control" placeholder="Entrez une date, un nom, un prix...">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">Go!</button>
                </span>
            </div>
            <!-- /input-group -->
        </div>
        <!-- /.col-lg-6 -->
    </div>

        <table>
            <tr ng-repeat="a in itemsfinal()" id="listeItems">
                <td><label>{{a.name}} </label>
                    <label>{{a.description}} {{a.cost}} {{a.owner.name}}</label></td>
                <td><button ng-click="detail(a.IdSwapObjet)">Afficher detail</button></td>
            </tr>
        </table>
        
        <button type="submit" class="btn btn-default"
				ng-click="newItem()">>Ajouter un nouvel objet a echanger</button>

</div>
