<div ng-controller="SearchItemDetailCtrl">

	<div ng-repeat="a in data.pics()">
		<div class="col-md-4">
			<img class="picture-big-responsive" ng-src="{{a.path}}">
		</div>
	</div>
	<h3>{{data.item.name}}</h3>
	<p>{{data.item.description}}</p>
	
	<img class="picture-small-responsive" ng-src="{{data.owner.userPictures[0].path}}" ng-click="showProfile(data.owner.id)">

	<div class="central-row-button">
	 	<button class="btn btn-default" ng-click="startDeal()">Demarrer un swap !</button>
	</div>
</div>
