<div ng-controller="SwapDetailCtrl">

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="#!/dashboard">Tableau de bord</a></li>
          <li><a href="#!/followswap">Suivre un echange<</a></li>
          <li class="active"><a href="#!/swaps">Swaps</a><span class="sr-only">(current)</span></li>
          <li><a href="#!/items">Mes objets</a></li>
          <li><a href="#!/profile-self">Profil</a></li>
          <li><a href="#!/account">Compte</a></li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>

        <p>Detail du swap.</p>
        <tr>
            <td><label>Id du swap :</label> {{data.swap.id}}</td>
            <td><label>Date de creation :</label> {{data.swap.dateCreation}}</td>
            <td><label>Date de modification :</label> {{data.swap.dateModification}}</td>
            <td><label>Status :</label> {{data.swap.id}}</td>
        </tr>
        <button ng-click="retour()">Retour</button>

</div>
