<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
                        http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name>GLG204_MySwap</display-name>

	<!-- avec Jersey -->

	<servlet>
		<servlet-name>jersey-serlvet</servlet-name>
		<servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>jersey.config.server.provider.classnames</param-name>
			<param-value>services.CommentService</param-value>
		</init-param>
		<init-param>
			<param-name>jersey.config.server.provider.classnames</param-name>
			<param-value>services.ItemService</param-value>
		</init-param>
		<init-param>
			<param-name>jersey.config.server.provider.classnames</param-name>
			<param-value>services.DealService</param-value>
		</init-param>
		<init-param>
			<param-name>jersey.config.server.provider.classnames</param-name>
			<param-value>services.UserService</param-value>
		</init-param>

		<load-on-startup>1</load-on-startup>

	</servlet>
	<servlet-mapping>
		<servlet-name>jersey-serlvet</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>

	<!-- <servlet> <servlet-name>HelloWorldServletAdaptor</servlet-name> <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class> 
		<init-param> <param-name>com.sun.jersey.config.property.packages</param-name> 
		<param-value>service.ItemService</param-value> </init-param> <load-on-startup>1</load-on-startup> 
		</servlet> <servlet-mapping> <servlet-name>HelloWorldServletAdaptor</servlet-name> 
		<url-pattern>/*</url-pattern> </servlet-mapping> -->


	<!-- avec fichier de configuration -->
	<!-- <servlet> <servlet-name>ApplicationConfig</servlet-name> <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class> 
		<init-param> <param-name>javax.ws.rs.Application</param-name> <param-value>GLG204_MySwap</param-value> 
		</init-param> </servlet> <servlet-mapping> <servlet-name>ApplicationConfig</servlet-name> 
		<url-pattern>/*</url-pattern> </servlet-mapping> -->

</web-app>




