<div ng-controller="ItemDetailCtrl">

	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header"></div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse"
				id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><a href="#!/dashboard">Tableau de bord</a></li>
					<li><a href="#!/followswap">Suivre un echange</a></li>
					<li><a href="#!/swaps">Swaps</a></li>
					<li class="active"><a href="#!/items">Mes objets<span
							class="sr-only">(current)</span></a></li>
					<li><a href="#!/profile-self">Profil</a></li>
					<li><a href="#!/account">Compte</a></li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>

	<p>{{data.item.name}}, Prix : {{data.item.cost}}</p>
	{{data.item.description}}
	<div id="listeItems" class="liste-item-full">
		<div ng-repeat="a in pictures()">
			<img class="picture-normal" ng-src="{{a.path}}" alt={{a.name}}">
		</div>
	</div>
	<div class="add-item-button">
		<button class="btn btn-default" ng-click="retour()">Retour</button>
	</div>

	<div class="blanc-provisoire"></div>

</div>
