<div ng-controller="PicsCtrl">

	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header"></div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse"
				id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><a href="#!/dashboard">Tableau de bord</a></li>
					<li><a href="#!/followswap">Suivre un echange</a></li>
					<li><a href="#!/swaps">Swaps</a></li>
					<li><a href="#!/items">Mes objets</a></li>
					<li class="active"><a href="#!/profile-self">Profil</a><span
						class="sr-only">(current)</span></li>
					<li><a href="#!/account">Compte</a></li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>


	<div class="user-panel">
		<section id="menu" class="user-left-panel">
			<div class="list-group">
				<a href="#!/profile-self" class="list-group-item active">
					<h4 class="list-group-item-heading">Modifier le profil</h4>
					<p class="list-group-item-text"></p>
				</a> <a href="#!/profile-pics" class="list-group-item active">
					<h4 class="list-group-item-heading">Photos et vidéos</h4>
					<p class="list-group-item-text"></p>
				</a> <a href="#!/profile-comments" class="list-group-item active">
					<h4 class="list-group-item-heading">Commentaires</h4>
					<p class="list-group-item-text"></p>
				</a>
			</div>
		</section>


		<section id="form_user_pics" class="user-right-panel">

			<table>
				<tr ng-repeat="src in pics()">
					<td><img class="picture-normal-responsive" ng-src="{{src}}"
						alt={{src}} /></td>
					<td><button ng-click="supprimer(src)">Supprimer</button></td>
				</tr>
			</table>

			<div>
				Upload profile image <input type="file" fileread="data.img"
					accept="image/*" id="file" />

				<!-- Test ng-imgur  : <input type="file" id="testinput"/> -->
				<!-- executes js upload function with uploaded images -->
				<button ng-click="data.upload()">Submit</button>
				<div ng-show="data.errorupload">Problème à l'upload.</div>
			</div>

		</section>
	</div>


</div>
