/* app css stylesheet */


/*body {
  /* background-color: #ebebeb; 
  /* opacity: 0.9;
  background-color: rgba(235, 235, 235, 0.5);
}*/

.header-container {
	position: fixed;
	top: 0;
  	left: 0;
  	width: 100%;
	height: 20%;
	padding-left: 10px;
	margin: 0px;
	margin-top: 8px;
	z-index: 1;
}

#logo {
  position: fixed;
  top: 20;
  left: 20;
  width: 200px;
}

.pos-log-button{
	position: fixed;
	top : 0;
	right : 0;
	margin-top: 20;
	margin-right: 20;
}

.ngdialog.ngdialog-theme-plain.custom-width .ngdialog-content {
  position: absolute;
  top: 10%;
  right: 30%;
  width: 35%;
  height: 60%;
}



/* .div-button-validate {
  position: relative;
} */

.main-content {
	position:absolute;
	top:25%;
	width: 100%;
	height: 50%;
	z-index: 2;
}

.home-search-bar {
	top:25%;
	width: 100%;
	height: auto;
	padding: 10px;
	margin-bottom: 8px;
	margin-left: 14px;
	align-text: center;
	z-index: 2;
}

.home-panel {
	width: 100%;
	height: 25%;
	padding-left: 10px;
	margin: 0px;
	margin-top: 8px;
	z-index: 2;
}

.user-left-panel {
    width: 15%;
	height: 50%;
	padding-left: 10px;
	margin: 0px;
	margin-top: 8px;
	z-index: 2;
} 

.user-right-panel {
  	position:relative;
	left:20%;
	width: 70%;
	height: 50%;
	padding-left: 10px;
	margin: 0px;
	margin-top: 8px;
	z-index: 2;
}

.deal-left-panel {
	width: 45%;
	height: 60%;
	padding-left: 10px;
	margin: 0px;
	margin-top: 8px;
	z-index: 2;
}

.deal-right-panel {
	position:relative;
	top:50%;
	left:50%;
	width: 45%;
	height: 60%;
	padding-left: 10px;
	margin: 0px;
	margin-top: 8px;
	z-index: 2;
}

.picture-normal {
	width:167; 
	height:110;
}

.footer-panel {
	position: fixed;
	bottom:0;
	background-color: black;
	color: white;
	width: 100%;
	height: 20%;
	padding: 60px;
	margin: 0px;
	margin-top: 20px;
	border: 1px solid black;
	text-align: center;
	z-index: 1;
}



