<div ng-controller="followswapListCtrl">

        <input ng-model="data.search" name="rechercheSwaps" type="text" placeholder="Entrez une date, un nom, un prix..." />

        <table>
            <tr ng-repeat="a in swapsfinal()" id="listeSwaps">
                <td><label>{{a.name}} </label>
                    <label>{{a.description}} {{a.cost}} {{a.othename}}</label></td>
                <td><button ng-click="detail(a.id)">Afficher le suivi</button></td>
            </tr>
        </table>

</div>
