<div ng-controller="followswapListCtrl">

	<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="#!/dashboard">Tableau de bord</a></li>
          <li class="active"><a href="#!/followswap">Suivre un echange<span class="sr-only">(current)</span></a></li>
          <li><a href="#!/swaps">Swaps</a></li>
          <li><a href="#!/items">Mes objets</a></li>
          <li><a href="#!/profile-self">Profil</a></li>
          <li><a href="#!/account">Compte</a></li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>

        <input ng-model="data.search" name="rechercheSwaps" type="text" placeholder="Entrez une date, un nom, un prix..." />

        <table>
            <tr ng-repeat="a in swapsfinal()" id="listeSwaps">
                <td><label>{{a.name}} </label>
                    <label>{{a.description}} {{a.cost}} {{a.othename}}</label></td>
                <td><button ng-click="detail(a.id)">Afficher le suivi</button></td>
            </tr>
        </table>
        
        <div class="blanc-provisoire">
</div>

</div>
